/* VARIABLES */
$colorPrimary:#FAFAFF;
$colorSecondary:#fff;
$bgPrimary:#080B10;
$bgSecondary:#101018;
$bgItem:#101018;
$bgGradientPrimary: linear-gradient(90deg, #1A1320 0%, #5D203A 99%);
$bgGradientSecondary: linear-gradient(45deg, #0B1B1F 12%, #28605B 90%);
$bgGradientTertirary: linear-gradient(45deg, #0B0B15 22%, #361438 100%);
$fontPrimary:'Nunito', sans-serif;